@model curator.Models.Rating

@{
    ViewBag.Title = "Details";
    var UserName = Model.UserName;
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodeSnippet.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeSnippet.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clarity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clarity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Efficiency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Efficiency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maintainability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maintainability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aesthetics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aesthetics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overall)
        </dd>

    </dl>
</div>
<p>
    @if (@UserName == User.Identity.Name)
    {
        @Html.ActionLink("Edit |", "Edit", new { id = Model.RatingID })
    }
    @Html.ActionLink("Back to List", "Index")
    
</p>
