@model curator.Models.CodeSnippet

@{
    ViewBag.Title = "Details";
    var UserName = Model.UserName;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            @Html.DisplayFor(model => model.Title)
        </h2>
        <h3 class="panel-title" style="margin-left:20px;">
            written by @Html.DisplayFor(model => model.UserName)
        </h3>
        <h3 class="panel-title" style="margin-left:20px;">
            @Html.DisplayFor(model => model.Language)
        </h3>


    </div>
    <div class="panel-body">
        <div>
            @Html.DisplayFor(model => model.Description)
        </div>
        <p />
        <div>
            @Html.DisplayFor(model => model.Code)
        </div>

    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            Posts
        </h2>
    </div>
    <div class="panel-body">
        @foreach (var post in Model.Posts)
        {
            if (post.CodeSnippetID == Model.CodeSnippetID)
            {
                <div>
                    @Html.ActionLink(@post.Subject, "../DiscussionPosts/Details", new { id = post.DiscussionPostID }) by @post.UserName.  Written on @post.DateCreated.  Last edited on @post.DateEdited.
                </div>
                <p />

            }
        }

    </div>
</div>







<p>
    @if (@UserName == User.Identity.Name)
    {
        @Html.ActionLink("Edit |", "Edit", new { id = Model.CodeSnippetID })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
