@model curator.Models.CodeSnippet

@{
    ViewBag.Title = "Details";
    var UserName = Model.UserName;
    

     
}



<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            @Html.DisplayFor(model => model.Title)
        </h2>
        <h3 class="panel-title" style="margin-left:20px;">
            written by @Html.DisplayFor(model => model.UserName)
        </h3>
        <h3 class="panel-title" style="margin-left:20px;">
            @Html.DisplayFor(model => model.Language)
        </h3>
    </div>
    <div class="panel-body">
        <div>
            @Html.DisplayFor(model => model.Description)
        </div>
        <hr />
        <div>
            

            <textarea rows="4" cols="50" id="codesnippet_editable">
                @Html.DisplayFor(model => model.Code)
            </textarea>

            

            
        </div>

    </div>
</div>


<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">
            Posts
        </h2>
    </div>
    <div class="panel-body">
        @foreach (var post in Model.Posts)
        {
            if (post.CodeSnippetID == Model.CodeSnippetID)
            {
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <script type="text/javascript">
                            window.onload = function () {
                                
                                };
                            
                        </script>
                        <button id="@post.DiscussionPostID">+</button>
                        

                        @Html.ActionLink(@post.Subject, "../DiscussionPosts/Details", new { id = post.DiscussionPostID }) by @post.UserName on @post.DateCreated.Month/@post.DateCreated.Day/@post.DateCreated.Year at @post.DateCreated.ToLongTimeString()
                        
                    </div>
                    <div id="@post.DiscussionPostID" class="panel panel-collapse collapse collapsible">
                        
                        
                        <div class="panel-body">
                            <div>
                                @post.BodyText
                            </div>

                        </div>
                        
                    </div>
                </div>

            }
        }

    </div>
</div>







<p>
    @if (@UserName == User.Identity.Name)
    {
        @Html.ActionLink("Edit |", "Edit", new { id = Model.CodeSnippetID })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
