@model curator.Models.CodeSnippet

@{
    ViewBag.Title = "Details";
    var UserName = Model.UserName;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            @Html.DisplayFor(model => model.Title)
        </h2>
        <h3 class="panel-title" style="margin-left:20px;">
            written by @Html.DisplayFor(model => model.UserName)
        </h3>
        <h3 class="panel-title" style="margin-left:20px;">
            @Html.DisplayFor(model => model.Language)
        </h3>
    </div>
    <div class="panel-body">
        <div>
            @Html.DisplayFor(model => model.Description)
        </div>
        <p />
        <div>
            @Html.DisplayFor(model => model.Code)
        </div>

    </div>
</div>


<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">
            Posts
        </h2>
    </div>
    <div class="panel-body">
        @foreach (var post in Model.Posts)
        {
            if (post.CodeSnippetID == Model.CodeSnippetID)
            {
                <div class="panel panel-success">
                    <div class="panel-heading">
                        @Html.ActionLink(@post.Subject, "../DiscussionPosts/Details", new { id = post.DiscussionPostID })
                        
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading panel-warning" style="text-indent:20px;text-decoration:underline">
                            by @post.UserName
                        </div>
                    </div>
                    <div class="panel-body panel-collapse">
                        <div>
                            @post.BodyText
                        </div>
                        
                    </div>
                    <div class="panel-footer" style="text-indent:20px;">
                        on @post.DateCreated.Month/@post.DateCreated.Day/@post.DateCreated.Year at @post.DateCreated.ToLongTimeString()
                    </div>
                </div>

            }
        }

    </div>
</div>







<p>
    @if (@UserName == User.Identity.Name)
    {
        @Html.ActionLink("Edit |", "Edit", new { id = Model.CodeSnippetID })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
