@model curator.Models.CodeSnippet

@{
    ViewBag.Title = "Details";
}


<div>
    <h2>Details</h2>
    <hr />



    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.DisplayFor(model => model.Title)
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                @Html.DisplayFor(model => model.Description)
            </div>
            <div class="col-md-8" style="padding-right:20px; border-left: 1px solid #ccc;">

                <textarea id="code" name="code">@Html.DisplayFor(model => model.Code)</textarea>
                <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                lineNumbers: true,
                matchBrackets: true,
                mode: "text/x-csharp",
                theme: "eclipse",
                readOnly: "nocursor"
            });
                </script> 
                
            </div>
        </div>
    </div>

    <!--
    <dl class="dl-horizontal">
        <dt>
             @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

    </dl>

        -->
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SnippetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
