@model IEnumerable<curator.Models.CodeSnippet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    
}

@foreach (var item in Model)
{
    <hr />
<div>
    <p>
        @Html.DisplayFor(modelItem => item.Title)  |  @Html.DisplayFor(modelItem => item.UserName)  |  @Html.DisplayFor(modelItem => item.Language)
    </p>
    <p>
        @Html.DisplayFor(modelItem => item.Description)
    </p>
</div>
<div>
    @if (item.UserName == User.Identity.Name)
    {
        @Html.ActionLink("Edit |", "Edit", new { id = item.CodeSnippetID })
    }
    @Html.ActionLink("Details", "Details", new { id = item.CodeSnippetID })
    @if (item.UserName == User.Identity.Name)
    {
        @Html.ActionLink("| Delete", "Delete", new { id = item.CodeSnippetID })
    }
</div>

}
