@model IEnumerable<curator.Models.CodeSnippet>

@{
    ViewBag.Title = "Index";


}



<h2>Snippets</h2>

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.ActionLink(item.Title, "Details", new { id = item.CodeSnippetID })
<!--            @Html.DisplayFor(modelItem => item.Title) -->
            
        </div>
        <div class="panel-body">
            <div style="margin-left:20px;">
                @Html.DisplayFor(modelItem => item.UserName) in @Html.DisplayFor(modelItem => item.Language)
                @if (item.UserName == User.Identity.Name)
                {
                    @Html.ActionLink("| Edit ", "Edit", new { id = item.CodeSnippetID })
                }

                @if (item.UserName == User.Identity.Name)
                {
                    @Html.ActionLink("| Delete", "Delete", new { id = item.CodeSnippetID })
                }
            </div> 
        </div>
  </div>







}

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Post New Snippet", "Create")
    </p>

}
