@model IEnumerable<curator.Models.CodeSnippet>

@{
    ViewBag.Title = "Index";


}



<h2>Snippets</h2>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Language</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@Html.ActionLink(item.Title, "Details", new { id = item.CodeSnippetID })</td>
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Language)</td>
                    <td>
                        @if (item.UserName == User.Identity.Name)
                        {
                            @Html.ActionLink("Edit ", "Edit", new { id = item.CodeSnippetID })
                            @Html.ActionLink("| Delete", "Delete", new { id = item.CodeSnippetID })
                        }
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Post New Snippet", "Create")
    </p>

}



 